/* Variables LESS Document */
@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Eagle Lake'), local('EagleLake-Regular'), url(https://fonts.gstatic.com/s/eaglelake/v7/ptRMTiqbbuNJDOiKj9wG1On4LQ.ttf) format('truetype');
}
/* Mixins LESS Document */
.flex-rwrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-rnowrap {
  display: flex;
  flex-flow: row nowrap;
}
.flex-cwrap {
  display: flex;
  flex-flow: column wrap;
}
.flex-cnowrap {
  display: flex;
  flex-flow: column nowrap;
}
.sideBySide {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
@media (max-width: 500px) {
  .sideBySide {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.insideBySide {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47%;
}
@media (max-width: 500px) {
  .insideBySide {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* General Styles LESS Document */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  /* =10px */
  width: 90%;
  margin: 0 auto;
}
.body {
  width: 90%;
  margin: 0 auto;
}
h1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: bolder;
  color: purple;
  padding: 0 0 10px 0;
  text-shadow: 4px 4px 4px #aaa;
}
h2 {
  display: flex;
  font-size: 2rem;
  font-weight: bolder;
  color: purple;
  padding: 0 0 10px 0;
  text-shadow: 4px 4px 4px #aaa;
}
h3 {
  display: flex;
  font-size: 1.75rem;
  font-weight: bold;
  color: purple;
  padding: 0 0 5px 0;
}
h4 {
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  color: purple;
  padding: 0 0 10px 0;
}
p {
  font-size: 1.2rem;
}
ul {
  margin: 0 0 10px 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  font-size: 1rem;
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px;
}
ul li {
  margin: 5px;
}
hr {
  margin: 20px 0;
  border: 4px solid purple;
}
/* Header LESS Document */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-image: url("../images/Sara-1-3.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0 0 20px;
  max-height: 323px;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-flow: column nowrap;
  }
}
header .name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0 10%;
}
header .name h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: white;
  font-family: "Eagle Lake", cursive;
}
@media (max-width: 500px) {
  header .name h1 {
    font-size: 3rem;
  }
}
header .name h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: "Eagle Lake", cursive;
}
@media (max-width: 500px) {
  header .name h2 {
    font-size: 2rem;
  }
}
/* Call To Action LESS Document */
nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
  }
}
nav a {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-content: space-around;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid purple;
  border-radius: 10px;
  color: aquamarine;
  background: purple;
  padding: 10px 20px;
  margin: 5%;
  width: 100%;
}
nav a:hover {
  background: #1a001a;
}
@media (max-width: 500px) {
  nav a {
    padding: 2.5px 5px;
    width: 90%;
    font-size: 1rem;
    margin: 0 auto;
    justify-content: space-between;
  }
}
/* Main Content LESS Document */
#introText {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 10%;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  #introText {
    font-size: 1rem;
  }
}
.work {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
@media (max-width: 500px) {
  .work {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
h2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.position {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47%;
}
@media (max-width: 500px) {
  .position {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
@media (max-width: 500px) {
  .skills {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.skillset {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47%;
}
@media (max-width: 500px) {
  .skillset {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
/* Contact LESS Document */
.contact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  margin: 0;
  width: 100%;
  padding: 10px;
  border-top: 4px solid aquamarine;
  /* rgba(94,25,221,1.00); */
  border-left: 4px solid aquamarine;
  /* rgba(94,25,221,1.00); */
  color: #ffffff;
}
.contact .bottom {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 2%;
}
.contact .bottom .header-img {
  display: flex;
  height: 200px;
  width: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.contact .bottom .c_img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: auto;
}
.contact .bottom .c_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.contact .bottom h3 {
  font-size: 1.25rem;
  font-weight: strong;
  justify-content: flex-start;
  padding-bottom: 10px;
  color: white;
}
.contact .bottom a {
  text-decoration: none;
  color: white;
}
.contact .bottom a:hover {
  color: chartreuse;
  font-weight: bold;
}
.contact .bottom p {
  font-size: 1rem;
  padding-bottom: 10px;
}
/* Footer LESS Document */
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: purple;
  color: white;
  font-style: italic;
  border-left: 4px solid aquamarine;
  /* rgba(94,25,221,1.00); */
}
